.clip-info {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #33353d;

  &>span {
    align-self: center;
    font-weight: bold;
    font-size: 20px;
  }

  &>div {
    flex: 1;
  }
}
.table {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  padding: 0 5px;
}
.separator {
  height: 33px;
  background-color: #1f2127;
}
.footer {
  background-color: #1f2127;
  height: 100%;
}
.fieldSetContainer {
  border-width: 0px;
  background-color: rgb(41, 42, 49);
}
.legend {
  color: #c7c7c7;
  background-color: #33353d;
  height: 20px;
  width: 100%;
  padding: 0 20px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
}
.tdInfo {
  padding: 10px 0 6px 0;
  width: 75%;
  color: #fff;
  border: none;
  border-bottom: 1px solid #808499;
}
.tdLabel {
  color: #808499;
  overflow: hidden;
  width: 25%;
  text-align: right;
  padding: 10px 10px 6px 20px;
}
.imageWrapper {
  background-color: #1f2127;
  text-align: center;
}
.buttonsBar {
  background-color: #292a31;
  padding: 10px;
  display: flex;
}
.button {
  min-width: 90px;
  padding: 0 10px;
  font-size: 11px;
  background-color: #464754;
  color: #c7c7c7;
  border: 0 !important;
  height: 100%;
  cursor: pointer;
}
.button:hover{
  background-color: #52545f ;
  color: #ffffff ;
  cursor: pointer;
}
.input {
  background-color: #292a31;
  width: 100%;
  padding: 10px 0 6px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #808499;
}
.buttonContainer {
  width: 25%;
}
.inputContainer {
  width: 75%;
  text-align: right;
}