.clip-info {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #33353d;

  &>span {
    align-self: center;
    font-weight: bold;
    font-size: 20px;
  }

  &>div {
    flex: 1;
  }
}

.separator {
  height: 33px;
  background-color: #1f2127;
}
.footer {
  background-color: #1f2127;
  height: 100%;
}
.fieldSetContainer {
  border-width: 0px;
  background-color: rgb(41, 42, 49);
}
.legend {
  color: #c7c7c7;
  background-color: #33353d;
  height: 20px;
  width: 100%;
  padding: 0 20px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
}
.imageWrapper {
  background-color: #1f2127;
  text-align: center;
}
.buttonsBar {
  background-color: #292a31;
  padding: 10px;
  display: flex;
}
.buttonContainer {
  width: 25%;
}
.inputContainer {
  width: 75%;
  text-align: right;
}
